# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb_checkpoints

# Jupyter notebooks
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Archivos grandes / datasets
*.tar.gz
*.zip
*.tar
*.h5
*.hdf5
*.pkl
*.npy
*.npz
*.csv
*.dat
*.pt

# Carpeta específica de datasets
AppTorch/datasets/

# Archivos de logs
*.log

# Archivos de sistema / IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/

# Anaconda
*.conda
*.egg-info/
